# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\whu\java\实验\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
